.navBar {
    background-color: var(--primary);
    height: var(--navBarHeight);
    width: 100%;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
}

.navbarLoginButton {
    background-color: white;
    color: var(--primary);
    padding: 10px 20px;
    margin-right: 15px;
    font-weight: 900 !important;
    border-radius: 10px;
    outline: none;
    border: none;
}

.navbarLoginButton:hover {
    background-color: var(--light2);
    color: var(--primary);
    padding: 10px 20px;
    margin-right: 15px;
    font-weight: 700;
}

.logo {
    height: clamp(40px, 6vmin, 60px);
    padding-right: 10px;
}

.profile-image {
    max-height: clamp(40px, 6vmin, 50px);
    border-radius: 50%;
    margin-left: 10px;
}